<!doctype html>
<html>
<head>
    <title>Displaying Times and Dates</title>
</head>
<body>
    <h1>Current Date and Time</h1>
    <p>
       
            <script src="~/Scripts/main.js"></script>
       
    </p>
    <h2>copyright:&Aacute; </h2>
</body>
</html>